<h1>MySQL Results:</h1>
	<form method="get" action= "/insert">
		<p>Add a workout to the database</p>
		<fieldset>
			<label>Name:</label>
			<input type="text" name="name" id="name">
			<br />
			<label>Reps:</label>
			<input type="text" name="reps" id="reps">
			<br />
			<label>Weight:</label>
			<input type="text" name="weight" id="weight">
			<br />
			<label>Date:</label>
			<input type="text" name="date" id="date">
			<br />
			<label>Lbs:</label>
			<input type="text" name="lbs" id="lbs">
			<br />
			<input type="submit" name="addWorkout" id="addWorkout">
		</fieldset>
	</form><br />
<br>


	<fieldset>
		<table>
			<thead title="Click a column to delete or input data to update">
				<tr>
					<th>Name</th>
					<th>Reps</th>
					<th>Weight</th>
					<th>Date</th>
					<th>Lbs</th>
				</tr>
			</thead>
					
			<tbody>
				{{#each results}}
				<tr>
				<form method="get" action= "/update">
					<input type="hidden" name="id" value="{{this.id}}">
					<td>{{this.name}}<input type="text" name="name" id="name"></td>
					<td>{{this.reps}}<input type="text" name="reps" id="reps"></td>
					<td>{{this.weight}}<input type="text" name="weight" id="weight"></td>
					<td>{{this.date}}<input type="text" name="date" id="date"></td>
					<td>{{this.lbs}}<input type="text" name="lbs" id="lbs"></td>
					<td>
					<input type="submit" name="Update" value="Update">
					</td>
				</form>
					<td>
						<form method="get" action="/delete">
						<input type="hidden" name="id" value="{{this.id}}">
						<input type="submit" name="Delete" value="Delete">
						</form>
					</td>
							
				</tr>	
				{{/each}}
			</tbody>					
		</table>	
	</fieldset>
